* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 1rem 0 1rem 5rem;
}
body {
    background: #F3F5FC;
}
main {
    width: 1200px;
    margin: 2rem auto 0;
}
section {
    display: flex;
}
.container__criptografado__PCRJ {
    text-align: center;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;
    width: 400px;
    background: #ffffff;
    border-radius: 32px;
}
.saidaMsg__PCRJ {
    font-size: 25px;
    width: 100%;
    margin: 1rem 20px 0 20px;
    height: 410px;
    border: none;
}
.container__paragrafos_PCRJ {
    width: 336px;
}
.paragrafo__msg__PCRJ {
    font-size: 25px;
    font-weight: 700;
    color: #343A40;
    margin-bottom: 16px;
}
.paragrafo__digite_PCRJ {
    font-size: 16px;
    font-weight: 400;
    padding: 0px 26px;
    color: #495057;
}
.recebeMsg__PCRJ{
    width: 680px;
    height: 288px;
    border: none;
    font-size: 32px;
    color: #0A3871;
    margin-bottom: 395px;
    background: #F3F5FC;
}
textarea[type="text"]::placeholder {
    color: #0A3871;
}
.paragrafo__PCRJ {
    font-size: 12px;
    color: #495057;
    margin-bottom: 16px;
}
.btn__criptografar__PCRJ, .btn__descriptografar__PCRJ {
    font-size: 16px;
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    color: #ffffff;
    background: #0A3871;
}
.btn__descriptografar__PCRJ {
    background: #D8DFE8;
    color: #0A3871;
}
.btn__copiar__PCRJ {
    font-size: 16px;
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    color: #ffffff;
    background: #6280a5;
    margin-top: 2rem;
}